/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: open_sans;
    src: url(../webfonts/open_sans/OpenSans-Regular.ttf) format('truetype');
}

body{
    font-family: open_sans
}

a{
    color: black;
}

a:hover{
    color: red;
}

#lang{
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    margin-top: 109px;
    margin-left: 290px;
    margin-right: 356px;
}

#title{
    text-align: center;
    margin-left: 309px;
    margin-right: 309px;
}

h1{
    font-size: 70px;
    line-height: 90px;
}

q{
    font-size: 14px;
    line-height: 23px;
}

.small{
    font-size: 12px;
}

#content{
    margin-left: 309px;
    margin-right: 309px;
}

#content p{
    margin-bottom: 20px;
}

.link{
    font-weight: bold;
}

.mail{
    text-align: center;
    margin-bottom: 90px;
}

.mail a{
    text-decoration: none;
}

hr{
    background-image: linear-gradient(to right, white, black, white);
    border: 0px;
    height: 1px;
}